{{define "event"}}
{{template "header" .}}

<div class="conference-container">
    {{range .Events}}
      <div class="row">
        <h2>{{.Name}}</h2>
      </div>
      <div class="row">
          <div class="img-container small-12 medium-12 large-12 column col-centered" id="rp-header"><img class="center_img" style="max-width: 400px; max-height: 250px;"src="{{.LogoUri}}"/></div>
      </div>
      <div class="row">
          <p>{{.Description}}</p>
          <p>For more information, please visit the website: <a href="{{.Website}}">{{.Website}}</a>.</p>
      </div>
      <div class="row title"><span>{{.Name}} Website Archives:</span></div>
      <div>
          <div class="top-bar nav">
              <ul id="conference-editions" class="h-list">
                  {{range .WebsiteArchive}}
                  <li class="nav-loc">
                      <a href="{{.Uri}}"> | {{.Year}} | </a>
                  </li>
                  {{end}}
              </ul>
          </div>
      </div>
    {{end}}
</div>

{{template "footer" .}}
{{end}}
