{{define "home"}}
{{template "header" .}}

<div id="head-img"></div>
<div id="home-container" class="row">
<div id="welcome" class="row">
  <div id="term-padding">
  </div>
  <div id="terminal">
    acm@uiuc$ Welcome to ACM@UIUC!
    <span id="shell"></span>
  </div>
</div>
<div id="main-container" class="col-sm-12 col-md-12 col-lg-12">
  <div id="main-feed" class="row">
      {{range .Home.Entries}}
        <h4 class='feed-title'>{{.Title}}</h4>
        <p>{{.Body}}</p>
        {{if ne .Link.Name ""}}
          <a href="{{.Link.Uri}}"><button class="button">{{.Link.Name}}</button>
          </a>
        {{end}}
      {{end}}
  </div>
  <div id="involvement" class="row">
    {{range .Home.Cards}}
      <div id="main-center" class="small-12 medium-12 large-4 columns">
        <h3>{{.Title}}</h3>
        <p>{{.Body}}</p>
        <a href="{{.Link.Uri}}"><button class="button">{{.Link.Name}}</button>
        </a>
      </div>
    {{end}}
  </div>
</div>
<center><iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23dbdbdb&ctz=America%2FChicago&src=Y19vamYwazVtZ3Fxdjk0NXM4NTZ2dWgwMzIyb0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%234285F4&title=ACM%40UIUC%20Calendar" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no">
</iframe></center>
</div>
<div class="footer_padding">
</div>

{{template "footer" .}}
{{end}}
